<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/static/c3.css" rel="stylesheet" type="text/css">
</head>
<style>

    h4 {
    margin-top: 25px;
    }
    .row {
    margin-bottom: 20px;
    }
    .row .row {
    margin-top: 10px;
    margin-bottom: 0;
    }


    hr {
    margin-top: 40px;
    margin-bottom: 40px;
    }

    #chart{
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    }

    .axis path,
    .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .area {
    fill: steelblue;
    }

</style>
<body>
<div class="container">

    <div class="page-header">
        <h1>SmokeyPi-ab</h1>

        <p class="lead">Current Temperature: <span class="text-warning" id="currentTemp">78.78</span>, Heat source is <span id="heatSource">on</span></p>
        <button class="btn btn-primary btn-xs" id="mod" data-toggle="modal" data-target="#myModal">
            Settings
        </button>
        <button class="btn btn-primary btn-xs" id="autoRefresh">
            Auto Refresh
        </button>
    </div>

    <h3>Temperature</h3>

    <div class="row">
        <div class="col-md-12">
            <div id='chart'/>
        </div>
    </div>
    <div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Settings</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input id="enabled" type="checkbox" checked="{{enabled}}"> Enabled
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="target_temp" class="col-sm-3 control-label">Target Temp</label>

                                <div class="col-sm-9">
                                    <input type="input" class="form-control" id="target_temp"
                                           placeholder="205" value="{{target_temp}}"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="save-settings" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="/static/c3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<script>

var rangeToDisplay = {{tr}};
var format = d3.time.format("%Y-%m-%d %H:%M:%S")

var chart = c3.generate({
    data: {
        x: 'x',
        xFormat: '%Y-%m-%d %H:%M:%S', // 'xFormat' can be used as custom format of 'x'
        columns: [
            ['x'],
//            ['x', '20130101', '20130102', '20130103', '20130104', '20130105', '20130106'],
            ['temp']
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%M:%S'
            }
        },
        y: {
            type:
            

        }
    },
    types: {
           //data1: 'area',
            temp: 'area-spline'
        }
});



var idx = 1

 x = ['x']
ytemp = ['temp']

function reload(){
    d3.json("/temps/"+idx, function(error, json) {
        now = new Date().getTime()
        timeRange = rangeToDisplay * 60 * 60 * 1000
        start = now - timeRange
        if (error) return console.warn(error);
        current_idx = 0

        json.forEach(function(d) {
            d.dt = format.parse(d[1]);
            d.temp = +d[2];
            if(d.dt.getTime() > start ){
                x.push(d[1])
                ytemp.push(d[2])
            }
        });
        chart.load({columns: [x,ytemp]})
        resp_size = json.length;
        if(resp_size > 0){
            idx = json[resp_size-1][0]
            $('#currentTemp').html(json[resp_size-1][2].toFixed(3) )
            hs = json[resp_size-1][3]
            $('#heatSource').html(hs)
            if(hs == "on"){
                $('#heatSource').addClass('text-danger')
                $('#heatSource').removeClass('text-primary')
            }else{
                $('#heatSource').addClass('text-primary')
                $('#heatSource').removeClass('text-danger')
            }

        }
    });
}


var autoReloadStatus = 0
var autoReload = null
function toggleAutoReload() {
    if(autoReloadStatus == 0){
        autoReload = setInterval(function(){reload()}, 2000);
        autoReloadStatus = 1
    }else{
        clearInterval(autoReload);
        autoReloadStatus = 0
    }
}

toggleAutoReload()

$( "#save-settings" ).click(function() {
    var body = {'enabled': $('#enabled').prop('checked'),
                'target_temp': $('#target_temp').val()}
    console.log(body)
    $.ajax({
        type:   'POST'  ,
        url:   '/settings',
        data:   JSON.stringify(body),
        contentType:   'application/json',
        success:   function(data){
            console.log(data)
            if(data == 'ok'){
                $("#myModal").modal("hide");
            }else{
                alert('Settings not saved: '+data)
            }
        }
    });
});

function setTimeRangeToDisplay(e){
    id = e.target.id
    if(id == 'autoRefresh'){
        toggleAutoReload()
    }else if(id=='mod'){
        //ignore
    }else{
        //broken
    }
}

$( ".btn" ).click(setTimeRangeToDisplay)





</script>